# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\软件工程实验\IndividualProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
